 * {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(aqua, skyblue); */
    


body {
    display: flex;
    justify-content: center;
    align-items: center;


    

/* h1 {
    box-sizing: border-box;
}

.search-box {
    box-sizing: border-box;
    border: 20px;
    border-color: black;
} */